@import '../../../../style-config';

.multi-media {
    background-color: white;
    border-radius: $lengthUnit;
    overflow: hidden;
    width: 100%;

    &:not(svg) {
        height: 530px;
    }
}