@import '../../../../style-config';

.organization-management {
    background-color: white;
    border-radius: $lengthUnit;
    overflow: hidden;
    width: 100%;
    
    &:not(svg) {
        height: 276px;
    }
}