// Sizes:
$lengthUnit: 20px;

// Colors:
$grayscale_20: #EEF0F7;

// Shadows:
$scrollOverlay: 0 6px 6px 0 rgba(135, 128, 128, 0.09), 0 11px 11px 0 rgba(0,0,0,.04);

//fonts
$general: 400 16px/22px 'Lato', sans-serif;